:root {
    --color-light: #fff;
    --color-dark: #000;

    --color-rarity-common: #aaaaaa;
    --color-rarity-uncommon: #5b9bd5;
    --color-rarity-rare: #e6e16c;
    --color-rarity-unique: #f0a869;
    --color-rarity-legend: #d178e6;

    --color-success: #73C991;
    --color-warning: #DBA710;
    --color-danger: #F88070;

    --color-brand: #f25322;
    --color-accent: #F0C875;

    --color-prime: #F5EEDB;
    --color-second: #746f61;
    --color-main: #2C2C2C;
    --color-other: #1E1E1E;
}

@font-face {
    font-family: 'Gidole';
    src: url('/fonts/Gidole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Для Webkit-браузеров */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-track {
    background: var(--color-other);
}

::-webkit-scrollbar-thumb {
    background: var(--color-second);
    border: 3px solid var(--color-other);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-brand);
}

/* Для Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--color-second) var(--color-other);
}


.tooltip {
    position: fixed;
    z-index: 9999;
    max-width: 300px;
    padding: 8px 12px;
    background: #333;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    pointer-events: none;
    transition: opacity 0.15s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.tooltip.hidden {
    opacity: 0;
}
.tooltip.visible {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    color: var(--color-accent);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

/* .details{
    padding: 0;
    margin: 0;
} */

.color-prime {
    color: var(--color-prime);
}

.color-second {
    color: var(--color-second);
}

.color-brand {
    color: var(--color-brand);
}

.color-brand-important {
    color: var(--color-brand) !important;
}

.color-accent {
    color: var(--color-accent);
}

.color-success {
    color: var(--color-success);
}

.color-warning {
    color: var(--color-warning);
}

.color-danger {
    color: var(--color-danger);
}

body {
    background-color: var(--color-other);
    color: var(--color-prime);
    min-height: 100vh;
    font-family: 'Gidole', sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

.p-indent {
    text-indent: 8px;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.absolute {
    position: absolute;
}

.absolute.fill {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.background {

    z-index: -1;
}

.wallpaper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 101vw;
    height: 101vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(5px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-dark);
    opacity: .6;
    z-index: -1;
}

.separator {
    flex-grow: 1;
    border-bottom: 1px dotted var(--color-main);
    margin: 5px 0;
    transition: .3s;
}

*:hover>.separator {
    border-bottom: 1px dotted var(--color-second);
}

.blur {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.carpet {
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: var(--color-main); */
    padding: 5px;
    transition: .3s;
    border-radius: 13px;
    /* overflow: hidden; */
}

.bord-brand {
    border: 1px solid var(--color-second) !important;
}

.frame {
    /* background-color: var(--color-other); */
    background-color: rgba(20, 20, 20, 0.9);
    /* backdrop-filter: blur(10px); */
    border: 1px solid var(--color-main);
    padding: 13px;
    transition: .3s;
    border-radius: 8px;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); */
}

.frame:hover {
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* position: relative; */
    /* border: 1px solid var(--color-second); */
    /* border-image: linear-gradient(to left top, var(--color-brand) 10%, transparent 50%, var(--color-brand) 90%); */
    /* border-image-slice: 1; */
    /* box-shadow: 0 0 55px rgba(0, 0, 0, 0.5); */
}

.header-frame {
    background-color: var(--color-other);
    padding: 13px;
    transition: .3s;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); */
}

.pad-55 {
    padding: 13px;
}

.pad-y-55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.pad-13 {
    padding: 13px;
}

.pad-x-13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.bg-gradient-l {
    padding: 5px 8px;
    min-width: 200px;
    background-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.6) 50%);
}

.bg-gradient-r {
    padding: 5px 8px;
    min-width: 200px;
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.6) 50%);
}

.inventory-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* 8 колонок */
    gap: 8px;
    /* отступ между карточками */
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    /* 8 колонок */
}

.grid>* {
    /* border: 1px solid var(--color-brand); */
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
}

.flex.grow {
    display: flex;
    flex-grow: 1;
}

.flex-col-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: end;
}

.ai-start {
    align-items: start;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: end;
}

.flex-row-13 {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.flex-row-8 {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.flex-row-5 {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-55 {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.flex-col-34 {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.flex-col-21 {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.flex-col-13 {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.flex-col-8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.flex-col-5 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon {
    display: inline-flex;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: .3s;
    opacity: .6;
}

.icon:hover {
    opacity: 1;
}

.section {
    padding: 55px 0;
}

.button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    /* background-color: var(--color-other);
    border: 1px solid var(--color-second); */
    background-color: var(--color-other);
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-main);

    border-radius: 0px;
    color: var(--color-accent);
    padding: 5px 13px;
    transition: .3s;
    font-size: 14px;
}

.button:hover {
    background-color: var(--color-main);
    color: var(--color-brand);
    text-shadow: 0 0 21px var(--color-brand);
}

.button.brand {
    border: 1px solid var(--color-brand);
    color: var(--color-brand);
}

.button.brand:hover {
    background-color: var(--color-brand);
    color: var(--color-other);
}

.link {
    display: inline;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 0;
    padding: 0;
    text-decoration: none;
    text-align: start;
    color: var(--color-accent);
    transition: .3s;
    /* cursor: pointer; */
}

.link:hover {
    color: var(--color-brand);
}

.note {
    border: none;
    background: none;
    outline: none;
    color: #bcc900;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    font-weight: 400;
}

input::selection {
    /* background-color: var(--color-);
    color: var(--color-prime); */
}

input::placeholder {
    color: var(--color-second);
    opacity: 1;
    /* для Firefox */
}

.input,
.input:focus,
.input:active,
.input:target {
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-other);
    border: 1px solid var(--color-main);
    border-radius: 0px;
    color: var(--color-prime);
    padding: 5px 13px;
    transition: .3s;
    outline: transparent;
    outline-width: 0;
}

.input:focus {
    border: 1px solid var(--color-second);
}

.input:hover,
.input:focus:hover,
.input:active:hover,
.input:target:hover {
    background-color: var(--color-main);
    color: var(--color-accent);
    border: 1px solid var(--color-second);
}

.input:focus {
    color: var(--color-accent);
}

.input:focus:hover {
    border: 1px solid var(--color-accent);
}

.radio {
    display: block;
    cursor: pointer;
    border-radius: 6px;
}

.radio img {
    object-fit: cover;
    display: block;
    pointer-events: none;
    transition: .3s;
}

.radio input[type="radio"] {
    display: none;
}

.radio input[type="radio"]:checked+img {
    filter: drop-shadow(0 0 5px var(--color-brand));
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkbox>input {
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-main);
    background-color: var(--color-other);
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.checkbox>input:checked {
    background-color: var(--color-main);
    border-color: var(--color-second);
}

.checkbox>input:hover {
    border-color: var(--color-second);
}

.checkbox>input:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 9px;
    border: solid var(--color-accent);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.item-frame {
    width: 64px;
    height: 64px;
    background: radial-gradient(ellipse closest-side,
            black,
            transparent);
}

.img-cover,
.img-contain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: radial-gradient(ellipse closest-side,
            black,
            transparent);
    /* overflow: hidden; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* backdrop-filter: blur(10px); */
    /* border: 1px solid var(--color-other); */
    /* padding: 5px; */
}

.img-contain img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.img-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img-fill {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.rarity-0 {
    background: radial-gradient(ellipse closest-side,
            black,
            transparent);
}

.rarity-1,
.rarity-2 {
    /* filter: drop-shadow(0 0 3px var(--color-rarity-common)); */
    background: radial-gradient(ellipse closest-side,
            var(--color-rarity-common),
            transparent);
}

.rarity-3,
.rarity-4 {
    /* filter: drop-shadow(0 0 3px var(--color-rarity-uncommon)); */
    background: radial-gradient(ellipse closest-side,
            var(--color-rarity-uncommon),
            transparent);
}

.rarity-5,
.rarity-6 {
    /* filter: drop-shadow(0 0 3px var(--color-rarity-rare)); */
    background: radial-gradient(ellipse closest-side,
            var(--color-rarity-rare),
            transparent);
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 130px;
    height: 8px;
    background: #2c2c2c;
    border-radius: 4px;
    outline: none;
    transition: background 0.3s;
    cursor: pointer;
    box-shadow: 0 0 5px #000;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
    box-shadow: 0 0 4px #ffd700;
    transition: transform 0.2s;
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

.slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
    box-shadow: 0 0 4px #ffd700;
    transition: transform 0.2s;
}


.svg-map {
    /* border: 1px solid var(--color-second); */
    box-shadow: inset 0 0 34px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.3);
    cursor: grab;
}

.svg-map:active {
    cursor: grabbing;
}

.svg-fog {}

.svg-location {
    fill: transparent;
    transition: .3s;
}

.svg-location:hover {
    fill: var(--color-accent);
}

.svg-location.current {
    fill: var(--color-brand);
}

.svg-location.hideout {
    fill: var(--color-accent);
}

.svg-location.visited {
    fill: var(--color-second);
}

.svg-location.unvisited {
    fill: var(--color-main);
    stroke: var(--color-second);
    stroke-width: 1px;
}

.svg-location.available {
    fill: var(--color-accent);
    stroke: var(--color-accent);
    stroke-width: 0px;
    cursor: pointer;
}

.svg-location.available:hover {
    fill: var(--color-accent);
    stroke: var(--color-accent);
    stroke-width: 10px;
}

.svg-area {
    fill: var(--color-brand);
    opacity: .1;
}

.svg-road {
    stroke: var(--color-second);
}

.svg-road.visited {
    stroke: var(--color-other);
}

.svg-road.ground {
    stroke: #3a3100;
    stroke-linecap: round;
}

.svg-road.available {
    stroke: var(--color-brand);
    stroke-linecap: round;
    /* stroke-dasharray: 5, 5; */
}

.svg-road.unvisited {
    stroke: var(--color-other);
    stroke-linecap: round;
    stroke-dasharray: 5, 8;
}

.svg-icon {
    /* pointer-events: none; */
    /* transition: .3s;
    cursor: pointer; */
}

.svg-icon.available {
    transition: .3s;
    cursor: pointer;
}

.lock {
    pointer-events: none;
}

.lock-opacity {
    pointer-events: none;
    opacity: 0.5;
}

.lock-gray {
    pointer-events: none;
    filter: grayscale(1);
}

.lock-dark {
    pointer-events: none;
    filter: brightness(0.5);
}

.lock-gray-dark {
    pointer-events: none;
    filter: grayscale(1) brightness(0.5);
}

.lock-blur {
    pointer-events: none;
    filter: blur(1px);
}

.lock-gray-dark-blur {
    pointer-events: none;
    filter: grayscale(1) brightness(0.5) blur(1px);
}

.await {
    transition: .3s;
    opacity: .3;
    pointer-events: none;
}

.await.hidden {
    opacity: 0;
    /* display: none; */
}

.await.opacity {
    opacity: .3;
}


.health {
    display: flex;
    min-height: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #720000;
    border-right: 1px solid red;
    text-align: center;
    color: white;
    font-size: 8px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 3px black;
}

.experience {
    display: flex;
    min-height: 1px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-second);
    border-right: 1px solid var(--color-light);
    text-align: center;
    color: white;
    font-size: 8px;
    letter-spacing: 2px;
}

.font-center {
    text-align: center;
}


.font-xxl {
    font-size: 32px;
}

.font-xl {
    font-size: 24px;
}

.font-lg {
    font-size: 20px;
}

.font-md {
    font-size: 16px;
}

.font-sm {
    font-size: 14px;
}

.font-xs {
    font-size: 12px;
}

.font-bold {
    font-weight: bold;
}

.font-light-brand {
    /* text-decoration: underline; */
    filter: drop-shadow(0 0 5px var(--color-brand));
}

/* [data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-other);
    border: 1px solid var(--color-second);
    color: var(--color-prime);
    padding: 2px 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 999;
}

[data-tooltip]:hover::after {
    opacity: 1;
} */
